<div class='success-box'>
    <p> <strong class='green'>{{user.username}}</strong></p>
    <img
        class='arrow'
        alt='success!'
    />

</div>

<script>
    const timer = () => { setTimeout(() => { document.location.href =
    '/api/user/profile' }, 1600)}; timer()
</script>