

<div class="logout-box">
  <h2>hasta luego</h2>
  <strong class="green">{{user.username}}</strong> 

</div>


<script>
    const timer = () => {
  setTimeout(() => {
    document.location.href = '/'
  }, 1500);
    }
    timer()
</script>